body {
	background-color: lightgray;
	color: maroon;
	font-family: candara;
	width: 800px;
	margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.disable {
	display: none;
}
.form-control.validate-input:invalid:focus {
	background-color: pink;
}